.TodoList {
  min-height: 320px;
  max-height: 513px;
  overflow-y: auto;
	
	.IceBox{
		width: 307px;
		float: left;
		
	}
	.Emergency{
		width: 307px;
		float: left;
		border:1px;

	}
	.InProgress{
		width: 307px;
		float: left;
		border:1px;

	}
	.Testing{
		width: 307px;
		float: left;
		border:1px;

	}
	.Complete{
		width: 307px;
		float: left;
		border:1px;

	}	

}